# Ignore Sublime Text Project and Workspace Files
*.sublime-project
*.sublime-workspace

# Ignore projects files
Shares/Projects/*
!Shares/Projects/README.md

# Ignore vagrant files
.vagrant

# Ignore srv files
Shares/srv/*
!Shares/srv/salt